/* =================================================================================
~ Helper Classes
================================================================================= */

.alignleft		{ float: left; margin: 0 1em 1em 0; }
.alignright		{ float: right; margin: 0 0 1em 1em; }
.aligncenter	{ display: block; margin-left: auto; margin-right: auto; }
.float-left		{ float: left !important; }
.float-right	{ float: right !important; }
.text-left		{ text-align: left; }
.text-right		{ text-align: right; }
.text-center	{ text-align: center; }