/* =================================================================================
Search
================================================================================= */

.search-form {
	@include clearfix();
	display: block;
}

.search-form input {
	float: left;
	height: 35px;
}

.search-form-box {
	padding: 0 10px;
}

.search-form-submit {
	background: $brand-primary;
	border: 0 none;
	color: #fff;
}