/* =================================================================================
~ Global
================================================================================= */

html {
	font-size: 62.5%; // Don't change this
}

body {
	background: $white;
	color: $gray-dark;
	font-family: $font-family-base;
	font-size: 1.6rem;
	line-height: 1;
}

// Typography
h1, h2, h3, h4, h5, h6 {
	color: $brand-primary;
	font-family: $font-family-base;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	margin-bottom: $grid-gutter-width / 2;
}
a {
	&:hover,
	&:active,
	&:focus {
		color: inherit;
		text-decoration: none;
	}
}

// Lists
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul {}
ol {}
dl {}

// Images
img {
	display: block;
}

// Forms
legend {
	display: none;
}
label {
	display: block;
}
button {
	background: transparent;
	border: 0 none;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
input {}

// Tables
table {
	border: 0;
	empty-cells: show;
	font-size: 100%;
}
caption,th,td {
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

:hover,
:active,
:focus {
	outline: none;
}

/* =================================================================================
~ Media Queries
================================================================================= */

// Small and larger
@media screen and (min-width: $screen-sm-min) {}

// Medium and larger
@media screen and (min-width: $screen-md-min) {}

// Large and larger
@media screen and (min-width: $screen-lg-min) {}

// X-Small only
@media screen and (max-width: $screen-xs-max) {
	 img { max-width: 100%; height: auto; }
}

// Small only
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {}

// Medium only
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {}