/**
 * Vendor
 */
@import (reference) "../vendor/bootstrap/less/variables.less";
@import (reference) "../vendor/bootstrap/less/mixins.less";
@import "../vendor/bootstrap/less/normalize.less";
@import "../vendor/bootstrap/less/scaffolding.less";
@import "../vendor/bootstrap/less/grid.less";
@import "../vendor/bootstrap/less/utilities.less";
@import "../vendor/bootstrap/less/responsive-embed.less";

/**
 * Theme dependencies
 */
@import (reference) "../variables.less";
@import (reference) "../mixins.less";
@import "../fonts.less";
@import "../utilities.less";

/**
 * Editor styles
 */
body, body.wp-autoresize {
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
}