/**
 * Variables
 */
 @import "../base/_variables";
 @import "../vendor/bootstrap/_variables";

/**
 * Vendor - Bootstrap and other third party stylesheets
 */
@import "../vendor/bootstrap/_mixins";
@import "../vendor/bootstrap/_normalize";
@import "../vendor/bootstrap/_scaffolding";
@import "../vendor/bootstrap/_grid";
@import "../vendor/bootstrap/_print";
@import "../vendor/bootstrap/_utilities";
@import "../vendor/bootstrap/_responsive-embed";

/**
 * Utilities
 */
@import "../utilities/_mixins";
@import "../utilities/_helpers";

/**
 * Base - global styles and variables
 */
@import "../base/_fonts";
@import "../base/_global";

/**
 * Components - reusable components
 */
@import "../components/_button";
@import "../components/_composition";

body, body.wp-autoresize {
	@extend .composition;
	padding-top: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
}